section>div>.section {
    border: solid $highlight-color 2px;
    // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 0;
    padding: 10px 15px;
}

.accomplishments-container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'award group'
        'project project'
    ;
    margin-top: 10px;
}